$mainFont: "Helvetica", sans-serif;
$mainBackgroundColor: #ffffff;
$headerBackGround: url("../img/header_background_v1.jpg");
$searchButtonColor: #010f16;
$searchButtonBorderColor: #607d8b;
$blogTitleColor: #010f16;
$navLinksColor: #ececec;
$headerTitleColor: #ececec;
$buttonBackgroundTitleColor: #01acac;
$articleBackgroundColor: #efefef;
$postDescriptionColor: #e90303;
$borderBottomColor: #607d8b;
$postDescriptionTitleColor: #0097a7;
$articleParagraphColor: #010f16;
$moreButtonBackgroundColor: #01acac; 
$contactFormColor: #0097a7;