$mainFont: "Palatino", serif;
$mainBackgroundColor: #efefef;
$headerBackGround: url("../img/header_background_v2.jpg");
$searchButtonColor: #757575;
$searchButtonBorderColor: #cfd8dc;
$blogTitleColor: #757589;
$navLinksColor: #ff5722;
$headerTitleColor: #ff5722;
$buttonBackgroundTitleColor: #0401ac;
$articleBackgroundColor: #ffffff;
$postDescriptionColor: #bdbdbd;
$borderBottomColor: #cfd8dc;
$postDescriptionTitleColor: #6085b0;
$articleParagraphColor: #757575;
$moreButtonBackgroundColor: #0401ac; 
$contactFormColor: #607d8b;